<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>Playerid</th>
      <th>Birthyear</th>
      <th>Namefirst</th>
      <th>Namelast</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.playerID %></td>
        <td><%= player.birthYear %></td>
        <td><%= player.nameFirst %></td>
        <td><%= player.nameLast %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
