<p id="notice"><%= notice %></p>

<p>
  <strong>Playerid:</strong>
  <%= @player.playerID %>
</p>

<p>
  <strong>Birthyear:</strong>
  <%= @player.birthYear %>
</p>

<p>
  <strong>Namefirst:</strong>
  <%= @player.nameFirst %>
</p>

<p>
  <strong>Namelast:</strong>
  <%= @player.nameLast %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
